<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left { 
  width: 45%;
}

.right { 
  width: 55%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<section id="about">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="column left">
          <img src="{{ site.baseurl }}static/img/about_me.jpeg" width="300" alt="About page image"> 
        </div>
        <div class="column right">
          <h5> Hi there! Welcome to my website. 
            I'm a scientist with an interest in using computational tools to study the impacts of climate change on the earth system and on human society. 
            I earned a bachelors degree in Atmospheric Science from UC Berkeley.
            My background in climate science and data science has allowed me to work on diverse and interesting problems, from Arctic sea ice dynamics to modelling dust transport. 
            In my free time, I love to learn new things and explore new places. At the moment, I'm enjoying studying Spanish and learning to dance.
          </h5>
        </div>
      </div>
      <h3><strong><br>My Goals</strong><h3>
    <h5>
    <i class="fa fa-leaf"></i>&nbsp;&nbsp;<strong>Personal Goals</strong>
      <dd>&bull; Own a home</dd>
      <dd>&bull; Adopt a dog</dd>
      <dd>&bull; Learn to dance</dd>
      <dd>&bull; Live in a four season climate for at least a year</dd>
      <dd>&bull; Plant and harvest my own vegetable garden</dd>
      <dd>&bull; Learn to play a fun instrument (banjo? ukulele? pan flute?)</dd>
    </h5>

    <h5>
    <i class="fa fa-book"></i>&nbsp;&nbsp;<strong>Professional Goals</strong>
      <dd>&bull; Complete a graduate degree</dd>
      <dd>&bull; Have a leadership position in my career</dd>
      <dd>&bull; First-author a research paper on a topic I find exciting</dd>
    </h5>

    <h5>
    <i class="fa fa-plane"></i>&nbsp;&nbsp;<strong>Travel/Adventure Goals</strong>
      <dd>&bull; Spend a consecutive year living abroad</dd>
      <dd>&bull; Do a boat ride through a swamp in the southern United States</dd>
      <dd>&bull; Do a solo backpacking trip in the backcountry</dd>
      <dd>&bull; Visit the Brazilian Amazon</dd>
      <dd>&bull; Go on a trip with my brother without our parents</dd>
      <dd>&bull; Go top rope climbing (outdoors!)</dd>
      <dd>&bull; Ice skate on a frozen lake</dd>
      <dd>&bull; See a polar bear in the wild</dd>
      <dd>&bull; Do a long train trip in Canada with my grandma</dd>
      <dd>&bull; Do a hiking trip in Switzerland</dd>
      <dd>&bull; Explore the Himalayas (hike to Everest base camp?)</dd>
      <dd>&bull; Go wine tasting in the Valle de Guadalupe with my mom</dd>
    </h5>

    <h5>
    <i class="fa fa-check-square"></i>&nbsp;&nbsp;<strong>Completed goals</strong>
      <dd>&bull; Day hike to the summit of Mount Whitney (2016)</dd>
      <dd>&bull; Walk in a pack of llamas in Peru (2017)</dd>
      <dd>&bull; Volunteer long-term with a student mentoring program (2018-2019)</dd>
      <dd>&bull; Complete an undergraduate degree (2020)</dd>
      <dd>&bull; Build my own website (2021)</dd>
      <dd>&bull; Hike the Camino de Santiago in Spain (2022)</dd>
      <dd>&bull; <a href="https://www.givingwhatwecan.org/pledge">Commit to donating 10% of my income to charity (2022)</a></dd>
      <dd>&bull; Reach an advanced level in a second language </dd>
      <dd>&bull; Finally stop my decade-long nail biting habit (2022) </dd>
    </h5>
    </div>
  </div>
</div>

</body>
</html>
