<section id="projects">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

    	<h5>
	    <dt>Personal Goals</dt>
	    <dd>- Own a home</dd>
	    <dd>- Adopt a dog</dd>
	    <dd>- Adopt a cat</dd>
	    <dd>- Learn to dance</dd>
	    <dd>- Learn to ice skate</dd>
	    <dd>- Learn to play a fun instrument (Bango? Ukulele? Pan flute?)</dd>
	    <dd>- Live in a four season climate for at least a year</dd>
	    <dd>- Plant and harvest my own vegetable garden</dd>
	    </h5>

	    <h5>
	    <dt>Professional Goals</dt>
	    <dd>&bull Get a graduate degree</dd>
	    <dd>&bull Have a leadership position in my career</dd>
	    <dd>&bull First-author a research paper on a topic I find exciting</dd>
	  	</h5>

	    <h5>
	    <dt>Travel/Adventure Goals</dt>
	    <dd>&bull Spend a consecutive year living abroad</dd>
	    <dd>&bull Do a swamp boat ride in the Southern US</dd>
	    <dd>&bull Do a solo backcountry through hike</dd>
	    <dd>&bull Go to the Brazilian Amazon</dd>
	    <dd>&bull Go top rope climbing outdoors</dd>
	    <dd>&bull See a polar bear in the wild</dd>
	    <dd>&bull Do a long train trip in Canada with my grandma</dd>
	    <dd>&bull Take a trip with my brother without our parents</dd>
	    <dd>&bull Do a hiking trip in Switzerland</dd>
	    <dd>&bull Explore the Himalayas (hike to Everest base camp?)</dd>
	    </h5>

	    <h5>
	    <dt>Completed goals</dt>
	    <dd>&bull Day hike to the summit of Mount Whitney (2016)</dd>
	    <dd>&bull Walk in a pack of alpacas/llamas in Peru (2016)</dd>
	    <dd>&bull Volunteer long-term with a student mentoring program (2018-2019)</dd>
	    <dd>&bull Get an undergraduate degree (2020)</dd>
	    <dd>&bull Build my own website (2022)</dd>
	    <dd>&bull Hike the Camino de Santiago in Spain (2022)</dd>
	    <dd>&bull Commit to donating 10% of my income to charity (2022) </dd>
	    <dd>&bull Reach an advanced level in a second language </dd>
	    </h5>

    </div>
  </div>
</div>
</section>
