<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home fa-lg"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
      <!-- Remove blog page
        <li><a href="{{ site.baseurl }}blog.html"><strong>BLOG</strong></a></li>
      -->
        <li><a href="{{ site.baseurl }}projects.html"><strong>PROJECTS</strong></a></li>
        <li><a href="{{ site.baseurl }}research.html"><strong>PAPERS/PRESENTATIONS</strong></a></li>
        <li><a href="{{ site.baseurl }}about.html"><strong>ABOUT ME</strong></a></li>
        <li><a href="{{  site.baseurl  }}resume/CV_academic_Nicole_Keeney.pdf"><strong>RESUME</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
