<section id="research">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <h3><strong>Publications</strong><h3>
    <h5>
      Weaver, A., <strong>Keeney, N.</strong>, Head, J., Heaney, A., Camponuri, S., Collender, P., Bhattachan, A.,
      Okin, G., Eisen, E., Sondermeyer-Cooksey, G., Yu, A., Vugia, D., Jain, A., Balmes, J.,
      Taylor, J., Remais, J., Strickland, M. <strong>(in review)</strong>, “Estimating the exposure-response
      relationship between fine mineral dust concentration and coccidioidomycosis incidence
      using speciated particulate matter data: A longitudinal surveillance study”,
      Environmental Health Perspectives.

    </h5>
    <h5>
    	Petty A. A., <strong>Keeney, N.</strong>, Cabaj, A., Kushner, P., Bagnardi, M. (2023), 
      <a href="https://tc.copernicus.org/articles/17/127/2023//">Winter Arctic sea ice thickness from ICESat-2: upgrades to freeboard and snow loading estimates and an assessment of the first three winters of data collection</a>, 
        The Cryosphere, doi:10.5194/tc-17-127-2023.

    </h5>

    <h5>
			Baldocchi, D., <strong>Keeney, N.</strong>, Rey-Sanchez, C., and Fisher, J. (2021) <a href="https://doi.org/10.1016/j.advwatres.2021.104100">Atmospheric Humidity Deficits Tell Us How Soil Moisture Deficits Down-Regulate 
			Ecosystem Evaporation</a>, Advances in Water Resources, doi:10.1016/j.advwatres.2021.104100.
	    <br>	
	    <br>
		</h5>
    
    <h3><strong>Conference Presentations</strong><h3>
    <h5>
			<strong>Keeney, N.</strong>, Petty, A., Simon, E., Andrews, L., Parker, C., Medley, B., and Boisvert, L. (2021). <a href="https://ui.adsabs.harvard.edu/abs/2021AGUFM.C51A..04K/abstract">A Cloud-Based Python Toolkit for Streamlining Polar Climate Model Assessments.</a> American Geophysical Union Fall Meeting. [oral, virtual]
		  <br><br>Bhattachan, A., <strong>Keeney, N.</strong>, Zhou, B., and Okin, G. (2021). <a href="https://ui.adsabs.harvard.edu/abs/2021AGUFM.A35E1671B/abstract">Calibration of a Wind Erosion and Dust Emission Model using Continental-Scale Geospatial Soil and Vegetation Datasets.</a> American Geophysical Union Fall Meeting. [poster, virtual]
		  <br><br><strong>Keeney, N.</strong> and Petty, A. (2020). <a href="https://ui.adsabs.harvard.edu/abs/2020AGUFMC014.0012K/abstract">New Estimates of Winter Arctic Sea Ice Growth from NASA's ICESat-2.</a> American Geophysical Union Fall Meeting. [poster, virtual]
		</h5>
    </div>
  </div>
</div>
</section>
