<section id="research">
<div class="container">
  <h3><strong>Publications & Conference Presentations</strong></h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5><strong>Publications</strong>
			<br><br>Baldocchi, D., <strong>Keeney, N.</strong>, Rey-Sanchez, C., and Fisher, J. (2021) Atmospheric Humidity Deficits Tell Us How Soil Moisture Deficits Down-Regulate 
			Ecosystem Evaporation, <i>Advances in Water Resources</i>, doi:<a href="https://doi.org/10.1016/j.advwatres.2021.104100">10.1016/j.advwatres.2021.104100</a>.
		</h5>
    <h5><strong>Conference Presentations</strong>
			<br><br><strong>Keeney, N.</strong>, Petty, P., Simon, E., Andrews, L., Parker, C., Medley, B., and Boisvert, L. (2021). A Cloud-Based Python Toolkit for Streamlining Polar Climate Model Assessments. American Geophysical Union Fall Meeting. [oral, virtual]
		  <br><br>Bhattachan, A., <strong>Keeney, N.</strong>, Zhou, B., and Okin, G. (2021). Calibration of a wind erosion and dust emission model using continental-scale geospatial soil and vegetation datasets. American Geophysical Union Fall Meeting. [poster, virtual]
		  <br><br><strong>Keeney, N.</strong> and Petty, P. (2020). New Estimates of Winter Arctic Sea Ice Growth from NASA's ICESat-2. American Geophysical Union Fall Meeting. [poster, virtual]
		</h5>
    </div>
  </div>
</div>
</section>
